<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Scrape!</title>
		<meta name="viewport" content="width=device-width">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="assets/css/scrape.css"  rel="stylesheet">
		<link rel="icon" href="assets/img/icon.png">
	</head>
	<body>
		<nav>
		  <div class="nav-wrapper">
		    <a href="#" class="brand-logo right">Logo</a>
		    <ul id="nav-mobile" class="left hide-on-med-and-down">
		      <li><a href="/">Home</a></li>
		      <li><a href="/saved">Saved Articles</a></li>
		      <button id="scrape-btn" data-target="confirm-modal" class="waves-effect waves-light btn">Scrape zeit.de</button>
		    </ul>
		  </div>
		</nav>
	  <!-- Modal Structure -->
	  <div id="confirm-modal" class="modal">
	    <div class="modal-content">
	      <h4 id="modal-header">Scraping Zeit.de...</h4>
	      <p id="modal-contents">Please wait...</p>
				<div id="modal-progress-bar" class="progress">
						<div class="indeterminate"></div>
				</div>
	    </div>
	    <div class="modal-footer">
	      <a id="go-to-saved-btn" href="/saved" class="btn-flat disabled">Take Me To Articles</a>
	    </div>
	  </div>
		{{{ body }}}
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
		<script src="assets/js/nav.js" type="text/javascript"></script>
	</body>
</html>
